@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito';

}

.bgimg{
    background-image: url(Img/home/adidas\ bg\ img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
 
}

/* navbar start */

.navbar{
    padding: 4px;
    justify-content: space-between;
    display: flex;
}


.logo-1 a img{
    width: 60px;
    height: 60px;

}

.logo-1 a img:hover{
    background-color: purple;
    padding: 5px;
    border-radius: 35px;

}

/* navlink starts */

ul{
    display: flex;
}

ul li{ 
    position: relative;
    list-style: none;
}

ul li a{
    display: block;
    padding: 12px 25px;
    text-decoration: none;
    color: white;
}

ul li ul.dropdown{
    position: absolute;
    display: none;
}

ul li ul.dropdown li{
    display: block;
}

ul li a:hover{
    color: rgb(136, 136, 136);
}

ul li:hover ul.dropdown{
    display: block;
}

/* navlinks ends */

.logo-2 a img{
    padding: 11px;
    width: 45px;
    height: 45px;
}

.logo-2 a img:hover{
    background-color: purple;
    border-radius: 20px;
}

/* navbar end */

.menu-1{
    display: flex;
    justify-content: space-between;
    padding: 70px;
    margin-top: 80px;
}

.btn button{
    border-radius: 30px;
    width: 150px;
    height: 50px;
    text-align: left;
    font-size: larger;
    border-color: transparent;
    font-family: 'Nunito';
}

.btn button:hover{
    background-color: rgb(136, 136, 136);
}

.btn a{
    text-align: left;
    text-decoration: none;
    color: black;
}

.content-1{
    color: white;
    font-size: larger;

}

.menu-2{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(103, 103, 103));
    padding: 40px;
}

.content-2{
    margin-left: 17px;
    color: white;
}

.submenus{
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.submenu-product-1 img{
    width: 22vw;
    height: 52vh;
    
}

.submenu-product-1 button{
    background-color: transparent;
    border-color: transparent;
    letter-spacing: 2px;
    text-decoration: underline;
    width: 100px;
    height: 25px;
}

.submenu-product-1 button:hover{
    background-color: black;
    color: white;
    width: 100px;
    height: 25px;
    text-decoration: underline;
    border-radius: 10px;
}

.submenu-product-2 img{
    width: 22vw;
    height: 52vh;

}

.submenu-product-2 button{
    background-color: transparent;
    border-color: transparent;
    letter-spacing: 2px;
    text-decoration: underline;
    width: 100px;
    height: 25px;
}

.submenu-product-2 button:hover{
    background-color: black;
    color: white;
    width: 100px;
    height: 25px;
    text-decoration: underline;
    border-radius: 10px;
}

.submenu-product-3 img{
    width: 22vw;
    height: 52vh;
} 

.submenu-product-3 button{
    background-color: transparent;
    border-color: transparent;
    letter-spacing: 2px;
    text-decoration: underline;
    width: 100px;
    height: 25px;
}

.submenu-product-3 button:hover{
    background-color: black;
    color: white;
    width: 100px;
    height: 25px;
    text-decoration: underline;
    border-radius: 10px;
}

.submenu-product-4 img{
    width: 22vw;
    height: 52vh;
} 

.submenu-product-4 button{
    background-color: transparent;
    border-color: transparent;
    letter-spacing: 2px;
    text-decoration: underline;
    width: 100px;
    height: 25px;
}

.submenu-product-4 button:hover{
    background-color: black;
    color: white;
    width: 100px;
    height: 25px;
    text-decoration: underline;
    border-radius: 10px;
}
